/* PC */
@media screen and (min-width: 992px) {
  .header__mobile {
    display: none;
  }

  .show-on-mobile {
    display: none;
  }
}

@media (max-width: 1199.98px) {
  /* Responsive client */
  .clients .img {
    flex-wrap: wrap;
    justify-content: center;
  }
}

/* Tablet & Mobile */
@media screen and (max-width: 991.98px) {
  .nav-bar {
    position: relative;
  }

  .nav-bar .logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .nav-bar ul {
    display: none;
  }

  .toggle-menu svg {
    width: 24px;
    color: #666;
  }

  .header__menu-overlay {
    position: fixed;
    inset: 0;
    background: #0000004d;
    z-index: 1;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s ease;
  }

  .menu-drawer {
    position: fixed;
    inset: 0 40% 0 0;
    padding: 60px;
    background: #fff;
    z-index: 2;
    transform: translateX(-100%);
    transition: 0.5s ease;
  }

  .menu-drawer ul {
    margin-top: 32px;
  }

  .menu-drawer ul a {
    display: block;
    padding: 14px 0;
    color: #333;
    text-align: left;
    font-weight: 500;
    cursor: pointer;
  }

  .separate {
    border-top: 1px solid #625e5e;
  }

  .menu-checkbox:checked ~ .header__menu-overlay {
    visibility: visible;
    opacity: 1;
  }

  .menu-checkbox:checked ~ .menu-drawer {
    transform: translateX(0);
  }

  .toggle-menu-mobile {
    /* display: none; */
  }

  .toggle-menu-icon {
    border: 1px solid #000;
    border-radius: 4px;
  }

  .toggle-menu-mobile {
    display: none;
  }

  /* Hero section styling */
  .hero {
    height: 100vh;
    text-align: center;
  }

  .content {
    width: 100%;
  }

  .hero__body {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 50px;
  }

  .hero .info {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .hero .info .title {
    font-size: 4.2rem;
  }

  .hero .info .desc {
    width: 80%;
    text-align: center;
    font-size: 1.3rem;
  }

  .hero-img {
    position: static;
    width: 50%;
  }

  .features .list {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr)); /* Chia 2 cột linh hoạt */
    gap: 20px;
    width: 100%; /* Đảm bảo không rộng hơn .content */
  }

  .stats .info {
    padding: 0;
  }
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 991.98px) {
  .show-on-mobile {
    display: none;
  }
}

/* Mobile */
@media screen and (max-width: 767.98px) {
  .menu-drawer {
    inset: 0;
    padding: 40px;
  }

  .nav-bar .actions {
    display: none;
  }

  .menu-wrap {
    display: flex;
    justify-content: space-between;
  }

  .toggle-menu-mobile {
    display: block;
  }

  .list-guides {
    flex-direction: column;
    row-gap: 60px;
  }

  .features .row {
    flex-wrap: wrap;
    gap: 10px;
  }

  .features .list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .stats .row {
    flex-direction: column;
  }

  .stats .img-block {
    width: 100%;
  }

  .stats .img-block img {
    width: 100%;
    object-position: left;
    padding: 20px;
  }

  .stats .info {
    width: 100%;
  }

  .stats .sub-title,
  .stats .info .desc {
    width: 100%;
  }

  .stats .row-qty {
    justify-content: center;
    align-items: center;
    gap: 60px;
  }
}
